<!doctype html>
<html lang="en">
  <head>
    <!-- Allow any inheriting page to set it's own title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />

    <!-- htmx from the unpkg CDN - your mileage may vary -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
  </head>

  <body class="flex">
    <aside
      class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
    >
      {% for nav in navbar %}
      <a
        href="{{ nav.href }}"
        class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600"
      >
        <span class="text-2xl"><i class="bx bx-home"></i></span>
        <span>{{ nav.title }}</span>
      </a>
      {% endfor %}
    </aside>
    <div class="w-full p-4" id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
