<div id="todo-form">
  <form>
    <div class="px-6 text-gray-900 antialiased">
      <h2 class="text-2xl font-bold">Create new Todo Item</h2>
      <div class="mt-8 max-w-xl">
        <input type="hidden" value="{{ todo.id }}" name="id" />
        <div class="grid grid-cols-1">
          <label class="block">
            <span class="text-gray-700">Note Title</span>
            <input
              type="text"
              class="mt-1 block w-full rounded-md border-transparent bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder=""
              name="title"
            />
          </label>
        </div>
        <div class="grid grid-cols-2 gap-6">
          <label class="block">
            <span class="text-gray-700">Email address</span>
            <input
              type="email"
              class="mt-1 block w-full rounded-md border-transparent bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="john@example.com"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Due Date</span>
            <input
              type="date"
              class="mt-1 block w-full rounded-md border-transparent bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0"
              name="due_date"
            />
          </label>
        </div>
        <div class="grid grid-cols-1 gap-6">
          <label class="block">
            <span class="text-gray-700">Text</span>
            <textarea
              class="mt-1 block w-full rounded-md border-transparent bg-gray-100 focus:border-gray-500 focus:bg-white focus:ring-0"
              rows="3"
              name="text"
            ></textarea>
          </label>
          <div class="block">
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input
                    type="checkbox"
                    class="rounded border-transparent bg-gray-200 text-gray-700 focus:border-transparent focus:bg-gray-200 focus:ring-1 focus:ring-gray-500 focus:ring-offset-2"
                  />
                  <span class="ml-2">Email me news and special offers</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        hx-post="/api/todos/new"
        hx-target="#todo-form"
        hx-swap="outerHTML"
        hx-ext="json-enc"
        class="button"
      />
      Save
    </div>
  </form>
</div>
